[build]
  command = "cd client && npm install && npm run build"
  publish = "client/dist"
  functions = "server/functions"

[context.production]
  environment = { NETLIFY = "true" }

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
